@import "tailwindcss";
@theme {
  --font-sans: 'Geist', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-silkscreen: 'Silkscreen', cursive;
  --color-slate-950: #0a0a0c;
  --color-slate-900: #121216;
  --color-cyan-neon: #00F0FF;
  --color-blue-neon: #0052FF;
}

body {
  margin: 0;
  background-color: var(--color-slate-950);
  color: #ffffff;
  font-family: var(--font-sans);
}

#root {
  width: 100%;
  min-height: 100vh;
}

.glass-panel {
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.font-stats {
  font-family: var(--font-silkscreen);
}
